



<%= form_with model: @course do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
      <h1>New Course</h1>
      </div>
      <div class="mb-3">
    <%= form.label :title %><br>
    <%= form.text_field :title , { class: "form-control", placeholder: "Course Title" }%>
    <% @course.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :credit %><br>
    <%= form.text_field :credit, { class: "form-control", placeholder: "Course Credit" }%><br>
    <% @course.errors.full_messages_for(:credit).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :code %><br>
    <%= form.text_field :code , { class: "form-control", placeholder: "Course Code" } %><br>
    <% @course.errors.full_messages_for(:code).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
      <div class="mb-3">
  <%= form.collection_select :department_id, Department.order(:name), :id, :name,{class: "form-select form-select-lg mb-3" } %>
      </div>
  <div>
    <%= form.submit %>
  </div>
    </div>
  </div>
  <%= link_to 'Back', { controller: 'courses', action: 'index'} %>
<% end %>
